.shape-divider-footer {
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divider-footer svg {
  position: relative;
  display: block;
  width: calc(119% + 5px);
  height: 37px;
}

.shape-divider-footer .shape-fill {
  fill: var(--color-blue);
}

.socialMedia {
  display: flex;
  flex-direction: row;
  a {
    background: #fff;
    border-radius: 100%;
    display: block;
    height: 24px;
    width: 24px;
    text-align: center;    
    margin: 10px;
    svg {
      width: 14px;
      height: 14px;
    }
  }
  .linkenln:hover {
    background: #0088CC;
    cursor: pointer;
    svg { 
           fill: white;
        }
    } 
  .instagram:hover {
    background: rgb(201, 123, 188);
    svg { 
            fill: white;
        }
  }     
    
}

.footer {
  background-color: var(--color-blue);
  padding: 3rem 0;
  position: relative;
  margin-top: 100px;

  &__container {
    display: flex;
    flex-direction: column;    
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    color: white;

    &__title
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      span
      {
        font-size: 14px;
        color: var(--color-secondary);
        font-weight: bold;
      }
    }

    &__body {
      &__contactus {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;        

        span:nth-child(1n)
        {
          font-size: 20px;
          font-weight: bold;
        }
        img:nth-child(2n)
        {
          width: 40px;          
        }
        span:nth-child(3n)
        {
          font-size: 14px;
        }
        span:nth-child(4n)
        {
          font-size: 14px;
          color: var(--color-secondary);
        }
      }

      &__followUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px;
        padding-top: 10px;

        span:first-child
        {
          font-size: 20px;
          font-weight: bold;
        }
        span:nth-child(3n)
        {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .footer {
    &__container {
      &__title
      {
        span
        {
          font-size: 22px;
        }
      }
      &__body {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__contactus {
          padding-right: 40px;
          span:nth-child(1n)
          {
            font-size: 22px;            
          }          
          span:nth-child(3n)
          {
            font-size: 16px;
          }
          span:nth-child(4n)
          {
            font-size: 16px;            
          }
        }

        &__followUs {
          padding-left: 40px;
          span:first-child
          {
            font-size: 22px;
            font-weight: bold;
          }
          span:nth-child(3n)
          {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .shape-divider-footer {    
    top: -65px;    
  }
  
  .shape-divider-footer svg {    
    height: 67px;
  }

  .footer {
    &__container {
      &__title
      {
        span
        {
          font-size: 24px;
        }
      }
      &__body {
        &__contactus {
          span:nth-child(1n)
          {
            font-size: 24px;            
          }          
          img:nth-child(2n)
          {
            width: 44px;
          }     
          span:nth-child(3n)
          {
            font-size: 18px;
          }
          span:nth-child(4n)
          {
            font-size: 18px;            
          }
        }
        &__followUs {
          span:first-child
          {
            font-size: 24px;
          }
          span:nth-child(3n)
          {
            font-size: 18px;
          }
        }
      }
    }
  }
}
