:root {
  --font-family-tittle: 'Rampart One', cursive;
  --font-family-main:  "Sofia Sans Condensed", sans-serif;  
  --color-main: #253159;
  --color-main_variation: #435693;
  --color-secondary: #bdc3de;  
  --color-secondary_variation: #dde0ef;
  --color-white: #fff;
  --color-blue: #253159;    
  --__tmp_DoNotuse_forTesting: 'Sofia Sans Condensed';
  --__tmp_color-main: '#02041f,2D3963';
  --__tmp_color-secondary: '#bdc3de, ';  
  --__tmp_color-secondarytmp: #3057f3;
  --__tmp_color-blue2:#2D3963;
  --__tmp_color-main2: #dbeaf2;
}
