:root {
  --font-family-tittle: 'Rampart One', cursive;
  --font-family-main: 'DynaPuff', cursive;
  --color-main2: #05053c;
  --color-main: #dbeaf2;
  --color-secondary2: #bdc3de;
  --color-secondary: #3057f3;
  --color-white: #fff;
  --color-blue: #2d3963;
}
