<nav class="navbar">
  <div class="menu">
    <a routerLink="/home" class="menu__logo">
      <img src="./assets/svg/icon-vo2vo.ai.svg" class="menu__logo--img" alt="vo2vo.ai Logo" />
      <span class="menu__logo--title">Vo2vo.ai</span>
    </a>
    <div class="menu__navbar">
      <ul class="options">
        <!--
        <li>
          <a routerLink="/home" routerLinkActive="active">
            {{ "menu.home" | translate }}</a>
        </li>
        
        <li>
          <a routerLink="/about" routerLinkActive="active">
            {{ "menu.about" | translate }}</a
          >
        </li>
        <li>
          <a routerLink="/services" routerLinkActive="active">
            {{ "menu.services" | translate }}</a
          >
        </li>
        <li>
          <a routerLink="/pricing" routerLinkActive="active">
            {{ "menu.pricing" | translate }}</a
          >
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active">
            {{ "menu.contact" | translate }}</a
          >
        </li>
        <li>
          <a routerLink="/"> {{ "menu.login" | translate }}</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>
<div class="fillspace"></div>
<nav class="navbarMobile">
  <div class="menu">
    <div class="menu__logo">
      <p-button (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
      <span class="menu__logo--title">Vo2vo.ai</span>
    </div>
  </div>
</nav>
<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header">
    <a routerLink="/home" class="logo">
      <img src="./assets/svg/icon-vo2vo.ai.svg" class="logo--img" alt="vo2vo.ai Logo" />
      <span class="logo--title">vo2vo.ai</span>
    </a>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="menu">
      <ul class="options">
        <!--
        <li>
          <a routerLink="/home" routerLinkActive="active">
            {{ "menu.home" | translate }}</a>
        </li>        
        <li>
          <a routerLink="/about" routerLinkActive="active">
            {{ "menu.about" | translate }}</a
          >
        </li>
        <li>
          <a routerLink="/services" routerLinkActive="active">
            {{ "menu.services" | translate }}</a
          >
        </li>
        <li>
          <a routerLink="/pricing" routerLinkActive="active">
            {{ "menu.pricing" | translate }}</a
          >
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active">
            {{ "menu.contact" | translate }}</a
          >
        </li>
        <li>
          <a routerLink="/"> {{ "menu.login" | translate }}</a>
        </li>
        -->
      </ul>
    </div>
  </ng-template>
  <ng-template pTemplate="footer"> </ng-template>
</p-sidebar>