.active {
  font-weight: 900;
  color: var(--color-secondary);
}

.navbar {
  display: none;
}

::ng-deep {
  .p-sidebar {
    background-color: var(--color-main);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  &--title {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--color-secondary);
  }
}

.options {
  display: grid;

  li {
    color: var(--color-secondary);
  }

  li:hover {
    color: var(--color-white);
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-main);
  width: 100%;
  padding: 2rem 2rem;

  &__logo {
    display: flex;
    align-items: center;
    gap: 2rem;

    &--title {
      font-size: 3.4rem;
      font-weight: 900;
      color: var(--color-secondary);
    }
  }

  ::ng-deep {
    .p-button {
      border: none;
      background-color: transparent;
      color: var(--color-secondary);
    }

    .pi {
      font-size: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .options {
    display: flex;
    gap: 2rem;
  }

  .navbar {
    display: block;
    position: fixed;
    top: 0px;
    z-index: 50;
    width: 100%;
  }

  .menu {
    padding: 1rem 0;

    &__logo {
      margin-left: 2rem;

      &--img {
        height: 7rem;
      }

      &--title {
        font-size: 2.4rem;
      }
    }

    &__navbar {
      display: flex;
      gap: 2rem;
    }
  }
}
