<div class="getStartedClass">
    <p class="getStartedClass__messageMain">{{ "getStarted.workingHard" | translate }}</p>

    <!--
    <p class="getStartedClass__messageMain">{{ "getStarted.newsletter" | translate }}</p>
    <form class="formGetStarted" action="#">
        <label class="formGetStarted__email" for="email">{{ "getStarted.email" | translate }}</label>
        <input type="email" id="email" name="email" placeholder="you@example.com">
        <button type="submit">{{ "getStarted.subscribe" | translate }}</button>
    </form>
    -->
</div>