
@import "./assets/scss/variables.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family-main);
  font-size: 1.6rem;
  line-height: 1.8;  
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}