<section id="home" class="sectionHome">
  <div class="sectionHome__header">
    <div class="sectionHome__header__backgroudimg"></div>
    <object data="./assets/svg/shapes-window.svg"> </object>
    <div class="sectionHome__header__textAction">
      <h1 class="sectionHome__header__textAction__title">Dubbing has never been easier</h1>
      <p class="sectionHome__header__textAction__slogan">we make things possible for you.</p>
      <p-button class="buttonGetStarted" label="Get Started"></p-button>
    </div>
    <div class="shape-divider-bottom">
      <object data="./assets/svg/shape-divider-bottom.svg"> </object>
    </div>
  </div>  
</section>

<section class="sectionHowWork">
  <div class="sectionHowWork__pnlintro">
    <video class="sectionHowWork__pnlintro__video" controls>
      <source src="/assets/video/vo2vo_Intro.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</section>