<section id="home" class="sectionHome">
  <div class="sectionHome__header">
    <div class="sectionHome__header__backgroudimg"></div>
    <object class="svgmain" data="./assets/svg/shapes-window.svg" type="image/svg+xml"> </object>
    <div class="sectionHome__header__textAction">
      <h1 class="sectionHome__header__textAction__title">{{ "home.dubblingTitle" | translate }}</h1>
      <p class="sectionHome__header__textAction__slogan">{{ "home.dubblingSlogan" | translate }}</p>
      <p-button class="buttonGetStarted" label="" (click)="show()">{{"home.getStarted" | translate }}</p-button>
    </div>
    <div class="shape-divider-bottom">
      <object data="./assets/svg/shape-divider-bottom.svg"> </object>
    </div>
  </div>
</section>

<section class="sectionHowWork">
  <div class="sectionHowWork__pnlintro">
    <video #myVideo src="" class="sectionHowWork__pnlintro__video" controls>
      Your browser does not support the video tag.
    </video>
    <div class="featureApp">
      <span class="featureApp__title">{{ "home.feature_title" | translate }}</span>
      <div class="featureApp__content">
        <ul class="featureApp__content__list">
          <li>{{ "home.feature_speaker_dect" | translate }}</li>
          <li>{{ "home.feature_transcri_translate" | translate }}</li>
          <li>{{ "home.feature_dubbling" | translate }}</li>
          <li>{{ "home.feature_User-friendly" | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>